<div class="Navbar">

  <div class="backButton">
    <button class="back-button-fixed" (click)="volver()">
      <span class="back-icon"></span>
    </button>
  </div>
  <div style="margin: 0 auto; display: flex; gap: 200px;">
    <div class="account-menu">
      <a class="navbar-link" (mouseenter)="showMenu=true" (mouseleave)="showMenu=false">
        Mi cuenta
      </a>
    </div>
    <div class="navbar-content" style="display: flex;">
      <div style="margin-right: 40px;"><a>Lista de Reportes</a></div>
      <div style="margin-right: 40px;">
  <a (click)="Informacion()">Información</a>
</div>
      <div><a (click)="cerrarSesion()" style="cursor: pointer;">Cerrar Sesión</a></div>
    </div>
  </div>
</div>