<div class="container-centered">
  <h1>Registrarse</h1>
  <form (ngSubmit)="submit()" #registerForm="ngForm">
    <input
      type="text"
      placeholder="Documento"
      name="documento"
      [(ngModel)]="documento"
      required
      class="mt-2"
    />

    <input
      type="text"
      placeholder="Nombre"
      name="nombre"
      [(ngModel)]="nombre"
      required
      class="mt-2"
    />

    <input
      type="date"
      placeholder="Fecha de nacimiento"
      name="fechaNacimiento"
      [(ngModel)]="fechaNacimiento"
      required
      class="mt-2"
    />

    <select
      name="rol"
      [(ngModel)]="rol"
      required
      class="mt-2"
    >
      <option value="" disabled selected>Seleccione un rol</option>
      <option value="radiologo">Radiólogo</option>
      <option value="administrador">Administrador</option>
    </select>

    <input
      type="password"
      placeholder="Contraseña"
      name="password"
      [(ngModel)]="password"
      required
      class="mt-2"
    />

    <button type="submit" class="button-primary mt-3">
      Crear cuenta
    </button>
  </form>
</div>